@charset "utf-8";
@import url('./fonts.css');

/*** Ajax loader : START ***/
#ccc-terms_filter_ajax-loader::before {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1; /* for Edge */
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
}
#ccc-terms_filter_ajax-loader {
  width: 100px;
  height: 100px;
  position: fixed;
  z-index: 99999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#ccc-terms_filter_ajax-loader > .loader,
#ccc-terms_filter_ajax-loader > .loader:after {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 99999999;
}
#ccc-terms_filter_ajax-loader > .loader {
  position: relative;
  left: -10%;
  top: -10%;
  margin: 0 auto;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: loading 1.1s infinite linear;
  animation: loading 1.1s infinite linear;
}
@-webkit-keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*** Ajax loader : END ***/


/*** Results More : START ***/
#ccc-terms_filter_ajax-inner .results-more {
  text-align: center;
  margin-top: 2em;
}
#ccc-terms_filter_ajax-inner .results-more > a {
  display: inline-block;
  vertical-align: top;
  font-size: 0.8em;
}
#ccc-terms_filter_ajax-inner .icon-ccc_terms_filter_ajax-refresh::before {
  display: block;
  font-size: 2em;
  line-height: 1.5;
}
/*** Results More : END ***/


/*** Accordion menu icon : START ***/
#ccc-terms_filter_ajax-inner .accordion-icon,
#ccc-terms_filter_ajax-inner .accordion-icon-bar {
  display: inline-block;
  box-sizing: border-box;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -ms-transition: all 0.4s;
  transition: all 0.4s;
}
#ccc-terms_filter_ajax-inner .accordion-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  margin-right: 10px;
}
#ccc-terms_filter_ajax-inner .accordion-icon-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 50%;
  height: 2px;
  background-color: #333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
}
#ccc-terms_filter_ajax-inner .accordion-icon-bar:nth-of-type(1) {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
}
#ccc-terms_filter_ajax-inner .accordion-icon-bar:nth-of-type(2) {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* icon（＋/－）toggle : START */
#ccc-terms_filter_ajax-inner a.sub-open .accordion-icon-bar:nth-of-type(1),
#ccc-terms_filter_ajax-inner a.sub-sub-open .accordion-icon-bar:nth-of-type(1) {
  display:none;
}
#ccc-terms_filter_ajax-inner a.sub-open .accordion-icon-bar:nth-of-type(2),
#ccc-terms_filter_ajax-inner a.sub-sub-open .accordion-icon-bar:nth-of-type(2) {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
/* icon（＋/－）toggle : END */
/*** Accordion menu icon : END ***/


/*** Count wp_query : START ***/
#ccc-terms_filter_ajax-wp_query-count {
  display: none; /* Controlled by JS */
}
#ccc-terms_filter_ajax-wp_query-count .ccc-terms_filter_ajax-post-count::after,
#ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-count .ccc-terms_filter_ajax-post-count::after {
  content: "/";
}
/*** Count wp_query : END ***/


/*** Current in "archive.php" : START  ***/
#ccc-terms_filter_ajax-inner .select-terms > .select-term-item[data-taxonomy_term-current="true"] > .select-toggle {
  pointer-events: none;
  opacity: 0.3;
}
/*** Current in "archive.php" : END  ***/




/****** Style: [data-ccc_posts_filter-style="1"]: START ******/
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] a {
  text-decoration: none;
}
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] a:hover .img-post-thumbnail {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  filter: alpha(opacity=50); /* lte IE8 */
  opacity: 0.5;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] .clearfix::after {
  content: " ";
  display: block;
  clear: both;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner {
  overflow-x: hidden;
  overflow-y: visible;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner #ccc-terms_filter_ajax-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 1.75em auto;
  width: calc(100% + 1%);
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-ccc_terms_filter_ajax {
  width: calc(20% - 1%);
  margin: 0 1% 1% 0;
  position: relative;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-ccc_terms_filter_ajax .img-post-thumbnail {
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  position: relative;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-ccc_terms_filter_ajax .img-post-thumbnail img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .wrap-select-taxonomy {
  display: table;
  table-layout: fixed;
  width: 100%;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner #ccc-terms_filter_ajax-nav_taxonomy.tax-oppend {
  display: block; /* JS */
  -webkit-animation: fadeIn 0.3s linear 0s 1;
  -moz-animation: fadeIn 0.3s linear 0s 1;
  -ms-animation: fadeIn 0.3s linear 0s 1;
  -o-animation: fadeIn 0.3s linear 0s 1;
  animation: fadeIn 0.3s linear 0s 1;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .nav-taxonomy-toggle {
  float: right;
  margin-left: 1em;
  display: none;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .nav-taxonomy-toggle > a {
  display: inline-block;
  vertical-align: top;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0.35em 0.75em;
  background: #f6f6f6;
  line-height: 1;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .nav-taxonomy-toggle > a.active {
  background: #333;
  border-color: #111;
  color: #fff;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .nav-taxonomy-toggle > a .text {
  font-size: 0.7em;
  display: inline-block;
  vertical-align: top;
  margin-top: 3px;
  margin-left: 0.2em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .clone-header-ccc_terms_filter_ajax .nav-taxonomy-toggle {
  display: none;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy {
  display: table-cell;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-top: none;
  border-left: none;
  background: #fafafa;
  position: relative;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms {
  width: 100%;
  margin: 0 auto;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms > li {
  font-size: 1em;
  font-weight: 400;
  border-top: 1px solid #ddd;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms > li:first-child {
  border-top: none;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item .term-text {
  display: block;
  font-size: 0.875em;
  line-height: 1.4;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item .term-icon + .term-text {
  margin-top: 0.5em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms-parent {
  box-sizing: border-box;
  position: relative;
  top: 100%;
  left: 0;
  z-index: 100;
  min-height: 60px;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms-children .select-term-children .select-toggle {
  padding-left: 1em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-trigger > a {
  display: block;
  box-sizing: border-box;
  padding: 10px;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy.has-active .ccc-terms_filter_ajax-accordion-trigger > a,
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-trigger > a:hover,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-trigger > .sub-open,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy.has-active .select-display,
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display:hover,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display.sub-open {
  background: #666;
  opacity: 1;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy.has-active .text,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy.has-active .select-display,
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-trigger > a:hover .text,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-trigger > .sub-open .text,
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display:hover,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display.sub-open {
  color: #fff;
}
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-trigger > a:hover .accordion-icon-bar,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-trigger > .sub-open .accordion-icon-bar,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy.has-active .ccc-terms_filter_ajax-accordion-trigger .accordion-icon-bar {
  background-color: #fff;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display.sub-open::before,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy.has-active .select-display::before,
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display:hover::before {
  border-top-color: #fff;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-accordion-contents {
  position: absolute;
  z-index: 200;
  width: 100%;
  box-sizing: border-box;
  background: rgba(220, 220, 220, 0.9);
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item > .select-toggle {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item.active-select-term > .select-toggle {
  color: #fff;
  font-weight: 500;
  background: #999;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-toggle {
  cursor: pointer;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-toggle > input[type="checkbox"] {
  display: none;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-terms {
  font-size: 0.75em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-term-item {
  display: inline-block;
  vertical-align: top;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-term-item + .list-term-item {
  margin-left: 0.25em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .title-post {
  font-weight: 500;
  line-height: 1.3;
  margin: 0.25em 0 0 0;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item .icon-svg {
  width: 100%;
  /*SVGファイルをobjectで読み込みクリック反応させる方法*/
  pointer-events: none;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display {
  cursor: pointer;
  box-sizing: border-box;
  padding: 10px;
  padding-right: 2em;
  position: relative;
  font-weight: 500;
  line-height: 1.3;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-display::before {
  content: " ";
  position: absolute;
  right: 14px;
  top: 14px;
  border-top: 8px solid #666;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-box,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms-parent {
  background: rgba(255, 255, 255, 0.9);
  border: 2px solid #666;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  max-height: 300px;
  overflow-y: auto;
  -webkit-overflow-scrolling:touch;
  margin: 0;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-box::-webkit-scrollbar,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms-parent::-webkit-scrollbar {
  width: 7px;
  height: 0;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-box::-webkit-scrollbar-thumb,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-terms-parent::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-box > li {
  cursor: pointer;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-box > li > .select-toggle {
  box-sizing: border-box;
  padding: 2px 10px;
}
body[data-ccc_useragent="desktop"] #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item > .select-toggle:hover {
  opacity: 0.7;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-box > .active-select-term > .select-toggle {
  font-weight: 500;
  background-color: #ddd;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .selected-item {
  font-weight: 600;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy-title {
  position: relative;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy-title > a .text {
  font-weight: 500;
  padding-right: 1.25em;
  line-height: 1.3;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-reset {
  font-size: 0.7em;
  text-align: right;
  box-sizing: border-box;
  padding: 10px;
  background: #666;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-reset > .select-toggle {
  box-sizing: border-box;
  border: 1px solid #666;
  padding: 0 0.5em;
  background: #f6f6f6;
  font-weight: 400;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .term-icon,
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .term-icon + .term-text {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .term-icon + .term-text {
  width: 69%;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .term-icon {
  width: 30%;
  height: 60px;
  padding-right: 5%;
  line-height: 1;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .term-icon > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .active-select-term .term-icon > img:not([src$=".svg"]) {
  mix-blend-mode: multiply;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .active-select-term .term-icon > img[src$=".svg"] {
  -webkit-filter: invert(100%) grayscale(100%);
  filter: invert(100%) grayscale(100%);
  mix-blend-mode: screen;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-favorite-post-toggle {
  margin-top: -28px;
  background: rgba(255,255,255,0);
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-ccc_terms_filter_ajax .list-terms {
  display: none;
  line-height: 1.5;
  margin: 0.2em 0;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-header {
  margin-top: 1em;
  margin-bottom: 1em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-count {
  float: left;
  line-height: 1.3;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-count .number {
  font-size: 1.2em;
  font-weight: 600;
  margin: 0 0.2em 0 0.5em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-count .unit {
  font-size: 0.7em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-reset-all {
  float: right;
  font-size: 0.7em;
  text-align: right;
  margin-left: 1em;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-reset-all > .select-toggle {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  border: 1px solid #ccc;
  padding: 0.35em 0.6em;
  background: #ddd;
  font-weight: 400;
}
#ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .icon-ccc_terms_filter_ajax-close {
  margin-right: 0.25em;
}
/* SP
----------------------------------------------------------*/
@media only screen and (max-width: 750px) {
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .nav-taxonomy-toggle {
    display: block; /* Controlled by JS */
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner #ccc-terms_filter_ajax-nav_taxonomy {
    width: 100%;
    display: none; /* Controlled by JS */
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-terms_filter_ajax-count {
    min-width: 50%;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-reset-all {
    margin-top: 1.5em;
    margin-left: 0;
    float: left;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .clone-header-ccc_terms_filter_ajax .select-reset-all {
    margin-top: 0;
    margin-left: 1em;
    float: right;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-taxonomy {
    display: block;
    font-size: 0.9em;
    border-right: none;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner #ccc-terms_filter_ajax-post {
    width: calc(100% + 3%);
    margin: 1.5em auto;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .list-ccc_terms_filter_ajax {
    width: calc(50% - 3%);
    margin: 0 3% 3% 0;
    font-size: 0.9em;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .ccc-favorite-post-toggle {
    margin-top: -20px;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item {
    margin: 0 auto;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item .term-icon,
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item .term-icon + .term-text {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
    box-sizing: border-box;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item .term-icon {
    height: 60px;
    padding-right: 5%;
  }
  #ccc-terms_filter_ajax-article[data-ccc_posts_filter-style="1"] #ccc-terms_filter_ajax-inner .select-term-item .term-icon + .term-text {
    margin-top: 0;
  }
}
/****** Style: [data-ccc_posts_filter-style="1"]: END ******/
